<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>


<body>
  <section>
  <h1>Flight information</h1>
  <div>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit this flight</button>
    </a> 
  </div>
  <div>Flight ID # <%= flight._id %></div>
  <div>The departure airport is <%= flight.airport %></div>
  <div>The airlines is <%= flight.airline %></div>
  <div>The flight # is <%= flight.flightNo %></div>
  <div>The date of departure is <%= flight.departs %></div>
  <p></p>
  <div>Meals:</div>
  <ul>
    <% flight.menu.forEach(meal => { %>
      <li><%= meal.name %></li>
    <% }) %>
  </ul>
  </section>
  <form id="add-meal-form" action="/flights/<%= flight._id %>/menu" method="POST">
  <select name="menuId">
  <% meals.forEach(meal => { %>
  <option value="<%= meal._id %>"><%= meal.name %></option>
  <% }) %>
  </select>
  <button type="submit">Add a meal</button>
  </form>
  <p></p>
  <h2>Ticketing</h2>
  <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <label for="seat-input">Seat</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label for="price-input">Price</label>
    <input name="price" type="text">
    <button type="submit">Add Seat and Price</button>
  </form>
  <p> </p>
  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>seat</th>
          <th>price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>
<p></p>
  <a href="/flights">Go Back</a>
</body>

<%- include('../partials/footer') %>